---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/account/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <BUGSNAG_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"561c27257765623ed5004ee4","name":"Rails","type":"rails","created_at":"2015-10-12T21:33:25.219Z","updated_at":"2015-11-18T15:57:50.474Z","release_stages":[],"api_key":"413c6f82a4e77b4cf0726c717de00646","errors":0,"url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4","errors_url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4/errors","events_url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/rails-1","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"},{"id":"554cc6dd7765622028002bf8","name":"sandbox.vts.com","type":"rails","created_at":"2015-05-08T14:23:25.805Z","updated_at":"2015-11-18T15:57:50.456Z","release_stages":["sandbox"],"api_key":"fd7dbf7013ee79b5e5c917e314d7ed4a","errors":223,"url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8","errors_url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8/errors","events_url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/sandbox-dot-vts-dot-com","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"},{"id":"51daaaf39bf39cd5c700000f","name":"www.viewthespace.com","type":"rails","created_at":"2013-07-08T12:05:07.223Z","updated_at":"2015-11-19T22:38:46.916Z","release_stages":["production","staging","development","sandbox"],"api_key":"041c46455a450610ba7dcd04d368d664","errors":2687,"url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f","errors_url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors","events_url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/www-dot-viewthespace-dot-com","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"}]'
  recorded_at: Tue, 24 Nov 2015 19:56:49 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors?most_recent_event=true&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <BUGSNAG_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors?direction=desc&most_recent_event=true&offset=2015-11-24T19%3A49%3A15.799Z&per_page=5&sort=last_received>;
        rel="next"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"563cdbf015766f1ee3aa6e05","last_message":"Couldn''t find Space
        with id=2042 [WHERE \"spaces\".\"removed\" = ''f'']","class":"ActiveRecord::RecordNotFound","occurrences":489,"release_stages":{"production":489},"last_context":"embedded_space_videos#show","resolved":false,"first_received":"2015-11-06T16:57:20.000Z","last_received":"2015-11-24T19:54:39.219Z","severity":"error","users_affected":93,"comments":1,"app_versions":{},"url":"https://api.bugsnag.com/errors/563cdbf015766f1ee3aa6e05","events_url":"https://api.bugsnag.com/errors/563cdbf015766f1ee3aa6e05/events","html_url":"https://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/563cdbf015766f1ee3aa6e05","comments_url":"https://api.bugsnag.com/errors/563cdbf015766f1ee3aa6e05/comments","created_issue_url":"https://www.pivotaltracker.com/story/show/108437596","most_recent_event":{"id":"5654c07fa04221bf765331cf","received_at":"2015-11-24T19:54:39.000Z","user_id":"73.241.184.216","context":"embedded_space_videos#show","meta_data":{"Request":{"clientIp":"73.241.184.216","headers":{"Version":"HTTP/1.1","Host":"www.vts.com","Connection":"close","Accept":"text/html,
        application/xhtml+xml, image/jxr, */*","Referer":"http://www.belvedereplace.com/vacancies.html","Accept-Language":"en-US","User-Agent":"Mozilla/5.0
        (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135
        Safari/537.36 Edge/12.10240","Accept-Encoding":"gzip, deflate","Cookie":"_viewthespace_session=ff4331f8f7025e6159cd9856cd70d02d;
        XSRF-TOKEN=pw6BiTZNvkDWOXD4pQ5n5K3oEGmBAwehTFzv5Pfe1MeHnbVJ1fD9iha3wXh3ZxjqmdLIqTKp9fmCPou%2FufuoFQ%3D%3D;
        __ar_v4=DQOS2Q4OOJFYNOQE7FUQ3U%3A20151124%3A2%7C4M7SRB7ECBAGBLZQ6WPRRG%3A20151124%3A2%7CQW5SZX5OUNFFDMQRVAKVX4%3A20151124%3A2;
        __utma=254479823.258201215.1448394818.1448394818.1448394818.1; __utmb=254479823.2.10.1448394818;
        __utmc=254479823; __utmz=254479823.1448394818.1.1.utmcsr=belvedereplace.com|utmccn=(referral)|utmcmd=referral|utmcct=/vacancies.html;
        __utmt=1; kvcd=1448394851735; km_ai=REuWdq%2FgIE9%2BzXfIxfi%2F45a9O2U%3D;
        km_uq=; km_vs=1; km_lv=1448394852","X-Request-Id":"8d21838f-bea4-42df-99ba-17cb36ded63f","X-Forwarded-For":"73.241.184.216","X-Forwarded-Proto":"https","X-Forwarded-Port":"443","Via":"1.1
        vegur","Connect-Time":"0","X-Request-Start":"1448394878790","Total-Route-Time":"0"},"httpMethod":"GET","params":{"partner_token":"2ftt1l7lo2k161t9tuxnxhjekwgax2o","video_height":"374","video_width":"665","autostart":"","action":"show","controller":"embedded_space_videos","space_id":"2-belvedere-place-3rd-floor-suite-350","id":"main","visit":"[OBJECT]"},"railsAction":"embedded_space_videos#show","referer":"http://www.belvedereplace.com/vacancies.html","url":"https://www.vts.com/spaces/2-belvedere-place-3rd-floor-suite-350/videos/main?partner_token=2ftt1l7lo2k161t9tuxnxhjekwgax2o&video_height=374&video_width=665&autostart="},"Session":{"_csrf_token":"IJM0wOO9Q8rAjrGA0ml/DjQ62MCzqvJYzmJkW04lfNI="},"Cookies":{"XSRF-TOKEN":"pw6BiTZNvkDWOXD4pQ5n5K3oEGmBAwehTFzv5Pfe1MeHnbVJ1fD9iha3wXh3ZxjqmdLIqTKp9fmCPou/ufuoFQ==","__ar_v4":"DQOS2Q4OOJFYNOQE7FUQ3U:20151124:2|4M7SRB7ECBAGBLZQ6WPRRG:20151124:2|QW5SZX5OUNFFDMQRVAKVX4:20151124:2","__utma":"254479823.258201215.1448394818.1448394818.1448394818.1","__utmb":"254479823.2.10.1448394818","__utmc":"254479823","__utmt":"1","__utmz":"254479823.1448394818.1.1.utmcsr=belvedereplace.com|utmccn=(referral)|utmcmd=referral|utmcct=/vacancies.html","_viewthespace_session":"ff4331f8f7025e6159cd9856cd70d02d","km_ai":"REuWdq/gIE9+zXfIxfi/45a9O2U=","km_lv":"1448394852","km_uq":"","km_vs":"1","kvcd":"1448394851735"},"User":{"id":"73.241.184.216"}},"severity":"error","exceptions":[{"class":"ActiveRecord::RecordNotFound","message":"Couldn''t
        find Space with id=2041 [WHERE \"spaces\".\"removed\" = ''f'']","stackframes":[{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-3.2.22/lib/active_record/relation/finder_methods.rb","line":344,"method":"find_one"},{"file":"vendor/bundle/ruby/2.2.0/bundler/gems/friendly_id-fda324aced8f/lib/friendly_id/history.rb","line":93,"method":"block
        in find_one"},{"file":"vendor/bundle/ruby/2.2.0/bundler/gems/friendly_id-fda324aced8f/lib/friendly_id/history.rb","line":112,"method":"with_old_friendly_id"},{"file":"vendor/bundle/ruby/2.2.0/bundler/gems/friendly_id-fda324aced8f/lib/friendly_id/history.rb","line":93,"method":"find_one"},{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1373502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '12657'
      Etag:
      - '"57095ea8399877f9affdf2397e1771f1"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1373502,"kind":"project","name":"Request Inbox","version":12657,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2015-06-29T04:00:00Z","created_at":"2015-06-23T18:38:46Z","updated_at":"2015-06-23T19:01:18Z","account_id":630906,"current_iteration_number":22,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 21:02:32 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1440014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3288'
      Etag:
      - '"971dba94249b15fabced982080ec1897"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1440014,"kind":"project","name":"Landlord - Core","version":3288,"iteration_length":2,"week_start_day":"Monday","point_scale":"0,1,2,3,5,8","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":false,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":3,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":20,"public":false,"atom_enabled":false,"project_type":"private","start_date":"2015-10-05","start_time":"2015-10-05T04:00:00Z","created_at":"2015-09-30T13:45:56Z","updated_at":"2015-10-07T20:25:48Z","account_id":630906,"current_iteration_number":4,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 21:02:33 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1271502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '6106'
      Etag:
      - '"be807318c3405a93b3e256a5e1c5e699"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1271502,"kind":"project","name":"DASI","version":6106,"iteration_length":2,"week_start_day":"Monday","point_scale":"0,1,2,3,5,8","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":false,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"description":"Data,
        Admin tools, Security & Internal tools","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2015-02-23T05:00:00Z","created_at":"2015-02-07T19:57:28Z","updated_at":"2015-11-19T20:30:44Z","account_id":630906,"current_iteration_number":20,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 21:02:34 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1373502/stories/108437596
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Tue, 24 Nov 2015 21:02:36 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1440012/stories/108437596
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3841'
      Etag:
      - '"9fde785cdae8a7532866b707ebbe9942"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":108437596,"created_at":"2015-11-18T14:03:34Z","updated_at":"2015-11-24T19:55:47Z","story_type":"bug","name":"[users:93,last_received:11/24/2015
        02:54PM,occurrences:489] No video for removed space","description":"*ActiveRecord::RecordNotFound*
        in *embedded_space_videos#show*\nCouldn''t find Space with id=451 [WHERE \"spaces\".\"removed\"
        = ''f'']\nhttps://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/563cdbf015766f1ee3aa6e05?event_id=564c7f4a863138ff13bc068a\n\n*Stacktrace:*\napp/controllers/embedded_space_videos_controller.rb:18
        - space_with_video\napp/controllers/embedded_space_videos_controller.rb:10
        - show\napp/controllers/application_controller.rb:87 - set_current_user\nlib/middleware/health.rb:11
        - call\nlib/middleware/reject_methods.rb:12 - call","current_state":"unscheduled","requested_by_id":1293888,"project_id":1440012,"url":"https://www.pivotaltracker.com/story/show/108437596","owner_ids":[],"labels":[{"id":12958346,"project_id":1440012,"kind":"label","name":"bugsnag","created_at":"2015-10-05T15:43:45Z","updated_at":"2015-10-05T15:43:45Z"},{"id":13406774,"project_id":1440012,"kind":"label","name":"major","created_at":"2015-11-24T19:41:29Z","updated_at":"2015-11-24T19:41:29Z"}]}'
  recorded_at: Tue, 24 Nov 2015 21:02:37 GMT
- request:
    method: put
    uri: https://www.pivotaltracker.com/services/v5/projects/1440012/stories/108437596
    body:
      encoding: UTF-8
      string: '{"follower_ids":[],"name":"[users:93,last_received:11/24/2015 02:54PM,occurrences:489]
        No video for removed space","description":"*ActiveRecord::RecordNotFound*
        in *embedded_space_videos#show*\nCouldn''t find Space with id=451 [WHERE \"spaces\".\"removed\"
        = ''f'']\nhttps://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/563cdbf015766f1ee3aa6e05?event_id=564c7f4a863138ff13bc068a\n\n*Stacktrace:*\napp/controllers/embedded_space_videos_controller.rb:18
        - space_with_video\napp[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1440012/stories/106881208
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 2f7ddd5d9490c6cbde8fcde4ea10efe6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3841'
      Etag:
      - '"b8fb75a72c65dd291f41d203b4656ab0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":106881208,"created_at":"2015-10-28T19:11:58Z","updated_at":"2015-11-24T19:53:39Z","story_type":"bug","name":"[users:201,last_received:11/24/2015
        02:49PM,occurrences:318] Noisy JS Error in Custom Tagfield Directive Used
        in Requirement Fieldset","description":"*TypeError* in */tims/team-list*\nCannot
        set property ''_destroy'' of undefined\nhttps://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/561dbe8a15766f1ee349f2bb?event_id=56311d2739fb4667752ad8c3\n\n*Stacktrace:*\nhttps://vts-herokuapp-com.global.ssl.fastly.net/assets/horse-99bdbb71e8e94a8347580793749a6197.js:21980
        - n.scope.deselect\nhttps://vts-herokuapp-com.global.ssl.fastly.net/assets/horse-99bdbb71e8e94a8347580793749a6197.js:21961
        - n.scope.handleOnKeydown\neval at <anonymous> (https://vts-herokuapp-com.global.ssl.fastly.net/assets/horse-99bdbb71e8e94a8347580793749a6197.js:213:409),
        <anonymous>:4 - fn","current_state":"unscheduled","requested_by_id":1293888,"project_id":1440012,"url":"https://www.pivotaltracker.com/story/show/106881208","owner_ids":[],"labels":[{"id":12958346,"project_id":1440012,"kind":"label","name":"bugsnag","created_at":"2015-10-05T15:43:45Z","updated_at":"2015-10-05T15:43:45Z"}]}'
  recorded_at: Tue, 24 Nov 2015 21:02:42 GMT
[...]
