---
http_interactions:
- request:
    method: get
    uri: https://api.bugsnag.com/account/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <BUGSNAG_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"561c27257765623ed5004ee4","name":"Rails","type":"rails","created_at":"2015-10-12T21:33:25.219Z","updated_at":"2015-11-18T15:57:50.474Z","release_stages":[],"api_key":"413c6f82a4e77b4cf0726c717de00646","errors":0,"url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4","errors_url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4/errors","events_url":"https://api.bugsnag.com/projects/561c27257765623ed5004ee4/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/rails-1","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"},{"id":"554cc6dd7765622028002bf8","name":"sandbox.vts.com","type":"rails","created_at":"2015-05-08T14:23:25.805Z","updated_at":"2015-11-18T15:57:50.456Z","release_stages":["sandbox"],"api_key":"fd7dbf7013ee79b5e5c917e314d7ed4a","errors":228,"url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8","errors_url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8/errors","events_url":"https://api.bugsnag.com/projects/554cc6dd7765622028002bf8/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/sandbox-dot-vts-dot-com","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"},{"id":"51daaaf39bf39cd5c700000f","name":"www.viewthespace.com","type":"rails","created_at":"2013-07-08T12:05:07.223Z","updated_at":"2015-11-19T22:38:46.916Z","release_stages":["production","staging","development","sandbox"],"api_key":"041c46455a450610ba7dcd04d368d664","errors":2714,"url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f","errors_url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors","events_url":"https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/events","html_url":"https://bugsnag.com/51daaadda43ccd952c000008/www-dot-viewthespace-dot-com","icon":"https://bugsnag.com/assets/images/frameworks/rails.png"}]'
  recorded_at: Thu, 26 Nov 2015 17:44:18 GMT
- request:
    method: get
    uri: https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors?most_recent_event=true&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <BUGSNAG_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.bugsnag.com/projects/51daaaf39bf39cd5c700000f/errors?direction=desc&most_recent_event=true&offset=2015-11-26T17%3A22%3A53.782Z&per_page=1&sort=last_received>;
        rel="next"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"563cf62715766f1ee3aad470","last_message":"Couldn''t find Property
        with tokenized_id = sunset-corporate-campus-ii-13920-se-eastgate-way","class":"ActiveRecord::RecordNotFound","occurrences":152,"release_stages":{"production":152},"last_context":"properties#show","resolved":false,"first_received":"2015-11-06T18:49:11.000Z","last_received":"2015-11-26T17:22:53.782Z","severity":"error","users_affected":36,"comments":1,"app_versions":{},"url":"https://api.bugsnag.com/errors/563cf62715766f1ee3aad470","events_url":"https://api.bugsnag.com/errors/563cf62715766f1ee3aad470/events","html_url":"https://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/563cf62715766f1ee3aad470","comments_url":"https://api.bugsnag.com/errors/563cf62715766f1ee3aad470/comments","created_issue_url":null,"most_recent_event":{"id":"56573fee53ca34407b3883d8","received_at":"2015-11-26T17:22:54.000Z","user_id":"66.249.66.116","context":"properties#show","meta_data":{"Request":{"clientIp":"66.249.66.116","headers":{"Version":"HTTP/1.1","Host":"www.vts.com","Connection":"close","Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","From":"googlebot(at)googlebot.com","Accept-Encoding":"gzip,deflate","User-Agent":"Mozilla/5.0
        (compatible; Googlebot/2.1; +http://www.google.com/bot.html)","If-Modified-Since":"Thu,
        08 Oct 2015 01:51:56 UTC","X-Request-Id":"9f1f919e-1b5a-4d6a-8bd5-ae1ff9c5f3d7","X-Forwarded-For":"66.249.66.116","X-Forwarded-Proto":"https","X-Forwarded-Port":"443","Via":"1.1
        vegur","Connect-Time":"0","X-Request-Start":"1448558572835","Total-Route-Time":"0"},"httpMethod":"GET","params":{"action":"show","controller":"properties","id":"sunset-corporate-campus-ii-13920-se-eastgate-way","visit":"[OBJECT]"},"railsAction":"properties#show","referer":null,"url":"https://www.vts.com/properties/sunset-corporate-campus-ii-13920-se-eastgate-way"},"User":{"id":"66.249.66.116"}},"severity":"error","exceptions":[{"class":"ActiveRecord::RecordNotFound","message":"Couldn''t
        find Property with tokenized_id = sunset-corporate-campus-ii-13920-se-eastgate-way","stackframes":[{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-3.2.22/lib/active_record/relation/finder_methods.rb","line":270,"method":"find_by_attributes"},{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-3.2.22/lib/active_record/dynamic_matchers.rb","line":50,"method":"method_missing"},{"file":"app/models/friendly_find_tokenized_id.rb","line":8,"method":"friendly_find!"},{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-3.2.22/lib/active_record/relation/delegation.rb","line":14,"method":"block
        in friendly_find!"},{"file":"vendor/bundle/ruby/2.2.0/gems/activerecord-3.2.22/lib/active_record/relation.rb[...]
