---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1373502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '12517'
      Etag:
      - '"87b23dff0103c0a9abb0e11a693423d6"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1373502,"kind":"project","name":"Request Inbox","version":12517,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2015-06-29T04:00:00Z","created_at":"2015-06-23T18:38:46Z","updated_at":"2015-06-23T19:01:18Z","account_id":630906,"current_iteration_number":22,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 13:50:04 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1440014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3188'
      Etag:
      - '"d69ee709bc83184bc0c32ee7d4e3179b"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1440014,"kind":"project","name":"Landlord - Core","version":3188,"iteration_length":2,"week_start_day":"Monday","point_scale":"0,1,2,3,5,8","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":false,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":3,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":20,"public":false,"atom_enabled":false,"project_type":"private","start_date":"2015-10-05","start_time":"2015-10-05T04:00:00Z","created_at":"2015-09-30T13:45:56Z","updated_at":"2015-10-07T20:25:48Z","account_id":630906,"current_iteration_number":4,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 13:50:05 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1271502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '6009'
      Etag:
      - '"2011c7281860f1f9f64a81d0fe349e76"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1271502,"kind":"project","name":"DASI","version":6009,"iteration_length":2,"week_start_day":"Monday","point_scale":"0,1,2,3,5,8","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":false,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/New_York","offset":"-05:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"description":"Data,
        Admin tools, Security & Internal tools","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2015-02-23T05:00:00Z","created_at":"2015-02-07T19:57:28Z","updated_at":"2015-11-19T20:30:44Z","account_id":630906,"current_iteration_number":20,"enable_following":true}'
  recorded_at: Tue, 24 Nov 2015 13:50:08 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1373502/stories/108294132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Tue, 24 Nov 2015 13:50:10 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1440012/stories/108294132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3678'
      Etag:
      - '"652d11156cc7c497dbc94f342f64e09a"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":108294132,"created_at":"2015-11-17T02:17:36Z","updated_at":"2015-11-19T15:31:51Z","story_type":"bug","name":"Reminders
        mailer does not handle deals with only an office park","description":"*NoMethodError*
        in *sidekiq#mailer*\nundefined method `street_address'' for nil:NilClass\nhttps://bugsnag.com/vts-1/www-dot-viewthespace-dot-com/errors/564a53f515766f1ee3d30192?event_id=564a8d3a98c901df4613848a\n\n*Stacktrace:*\napp/models/reporting/notification.rb:42
        - first_street_address\napp/mailers/messaging/activity_log_reminder_mailer.rb:12
        - reminder\napp/services/messaging/reminder_scheduling_service.rb:59 - send_email\napp/services/messaging/reminder_scheduling_service.rb:12
        - block in deliver_messages\napp/services/messaging/reminder_scheduling_service.rb:11
        - deliver_messages\napp/background_jobs/jobs/messaging/email_reminder_job.rb:14
        - perform\napp/workers/middleware/server/sidekiq_newrelic.rb:8 - call\napp/workers/middleware/server/set_paper_trail_user.rb:7
        - call\nconfig/initializers/sidekiq.rb:20 - block in call\nconfig/initializers/sidekiq.rb:16
        - call","current_state":"unscheduled","requested_by_id":1293888,"project_id":1440012,"url":"https://www.pivotaltracker.com/story/show/108294132","owner_ids":[],"labels":[{"id":12958346,"project_id":1440012,"kind":"label","name":"bugsnag","created_at":"2015-10-05T15:43:45Z","updated_at":"2015-10-05T15:43:45Z"}]}'
  recorded_at: Tue, 24 Nov 2015 13:50:12 GMT
recorded_with: VCR 3.0.0
